$tooltip-base-padding: 1px 7px 3px 7px !default

$tooltip-background-color: rgba(0, 0, 0, 1) !default

$tooltip-border-radius: 5px !default

$tooltip-position: fixed !default

$tooltip-text-color: #fff !default

.tooltip
  padding: $tooltip-base-padding
  background:
    color: $tooltip-background-color
  border:
    radius: $tooltip-border-radius
  position: $tooltip-position
  color: $tooltip-text-color