$primary: #000;
$secondary: #000;
$success: #000;
$info: #000;
$warning: #000;
$danger: #000;
$light: #000;
$dark: #000;

$link-color: #000;
$link-hover-color: #000;
$btn-link-disabled-color: #000;

$enable-rounded: true;

$btn-font-weight: 100;
$btn-border-width: 1px;
$btn-padding-y: 1px;
$btn-padding-x: 1px;
$btn-padding-y-lg: 1px;
$btn-padding-x-lg: 1px;
$btn-padding-y-sm: 1px;
$btn-padding-x-sm: 1px;
$font-size-base: 1px;
$font-size-lg: 1px;
$font-size-sm: 1px;
$font-weight-normal: 1px;
$font-weight-normal: 1px;
$btn-line-height: 1px;
$btn-line-height-lg: 1px;
$btn-line-height-sm: 1px;
$btn-border-radius: 1px;
$btn-border-radius-lg: 1px;
$btn-border-radius-sm: 1px;
$btn-block-spacing-y: 1px;
$btn-transition: all ease-in-out 1s 0s;
$btn-focus-box-shadow: none;
$link-hover-decoration: none;
$btn-disabled-opacity: 0.7;
$btn-active-box-shadow: 0 0 1px 0 rgba(0, 0, 0, .7);

$theme-colors: () !default;
$theme-colors: map-merge((
        "primary":    $primary,
        "secondary":  $secondary,
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light,
        "dark":       $dark
), $theme-colors);